*{
    background-color: aqua;
}
.todo{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}
.select_tag{
    padding: 3%;

}
.todo-list label{
    background-color: #fff;
    cursor: pointer;
}
.custom_select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  }
.to-do-check{
    background-color: white;
    width: 5% !important;
    cursor: pointer;
}
.todo-list{
    background-color: white;
    font-size: larger;
    padding-top: 12px;
}
.custom_del{
    margin-left: 15px;
    width: 10%;
    padding: 0;
}
.custom_inp {
 border: 2 !important;
}
select option {
    margin: 40px;
    background-color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  }
.custom_delall{
    padding-top: 10px;
  }