.home-page{
    background-image: none !important;
    background-color: white !important;
    text-align: center;
}
.container{
    max-width: 550px !important;
    margin: auto !important;
}
p {
    font-size: x-large;
  }
img{
    height: 184px;
}
button {
  margin-right: 20px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: #b973d5;
    background-image: linear-gradient(45deg,#6f328f,#9908ac);
    width: 30%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }